@font-face {
  font-family: 'Bebas-Regular';
  src: url('../fonts/BebasNeue-Regular.otf');
}
body, html {
  height: 100%;
  margin: 0;
}
.background {
  background-color: #fff;
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}
.content {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #000;
  font-family: 'Bebas-Regular', sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  text-decoration: none;
  width: 100vw;
}
.innerContent, img {
  max-width: 45vw;
  min-width: 250px;
  margin: auto;
}
.innerContent {
  width: 100vw;
}
h1 {
  padding: : 10px 0px;
  width: auto;
  text-align: center;
}

@media only screen and (max-width: 550px) {
  .innerContent, img {
    max-width: 50vw;
  }
  .content {
    font-size: 5vw;
  }
}
