@font-face {
  font-family: 'Bebas-Regular';
  src: url('../fonts/BebasNeue-Regular.otf');
}
.gallery-div {
  margin: 0;
  background-color: #fff;
  height: calc(100vh - 60px);
  background-image: url("../media/10.CR2");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-position: center;
}
.gallery-title {
  font-family: 'Bebas-Regular', sans-serif;
  font-size: 10vh;
  margin: 0;
}
.gallery-text {
  font-family: 'Bebas-Regular', sans-serif;
  font-size: 5vh;
  color: #fff;
  text-align: center;
  width: 60vw;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gallery {
  display: flex;
  flex-wrap: wrap;
}
.gallery-column {
  flex: 25%;
  max-width: 22.5vw;
  background-color: #fff;
}
.gallery img {
  width: calc(100% - 10px);
  padding: 5px;
}

@media screen and (max-width: 800px) {
  .gallery-column {
    flex: 50%;
    max-width: 45vw;
  }
}
@media screen and (max-width: 850px) {
  .gallery-div {
    background-image: none;
  }
  .gallery-text {
    text-align: center;
    font-size: 5vh;
    color: #000;
    background-color: rgba(0, 0, 0, 0.0);
  }
  .gallery-title {
    font-family: 'Bebas-Regular', sans-serif;
    font-size: 10vh;
    margin: 0;
  }
}
@media screen and (max-width: 420px) {
  .gallery-column {
    flex: 100%;
    max-width: 900vw;
    padding: 0 20px;
  }
  .special {
    display: none;
  }
}
